<div class="content">
  <h1 class="title">Profesionales CD Rua</h1>
  <nav>
    <a routerLink="/titulares" routerLinkActive="active">Titulares</a>
    <a routerLink="/suplentes" routerLinkActive="active">Suplentes</a>
    <a routerLink="/entrenadores" routerLinkActive="active">Entrenadores</a>
    <a routerLink="/jugadores" routerLinkActive="active">Todos Los Jugadores</a>
    <a routerLink="/rival" routerLinkActive="active">Rival</a>
    <img
      src="https://static.vecteezy.com/system/resources/previews/000/518/390/large_2x/vector-soccer-field-with-stadium-002.jpg"
      alt="Mi Imagen"
    />
  </nav>
  <router-outlet></router-outlet>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
